<div class="sidebar">
    <a href="/"><img src="{{ .Site.Params.documentSettings.logoURL }}" class="document-logo"></a>
    <p class="document-title">{{ .Site.Params.documentSettings.documentTitle }}</p>
    <nav class="sidebar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class='sidebar-nav-item{{if ($currentPage.IsMenuCurrent "main" .)}} active{{end}}' 
            href="{{ .URL }}" 
            title="{{ .Title }}">
            {{ .Name }}
        </a>
        {{ if .HasChildren }}
            {{ range .Children }}
            <a class='sidebar-nav-item subitem{{if ($currentPage.IsMenuCurrent "main" .)}} active{{end}}'
                href="{{ .URL }}" 
                title="{{ .Title }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
        {{ end }}
    </nav>
</div>
<div class="topbar">
    <a href="/"><img src="{{ .Site.Params.documentSettings.logoURL }}" class="topbar-logo"></a>
    <p class="document-title">{{ .Site.Params.documentSettings.documentTitle }}</p>
</div>