html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
}

#content {
    
    margin-left:35rem;
    padding:4rem 5rem;

}

.sidebar {
    background-color:#00ADED;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    width:35rem;
    overflow-x:hidden;
    padding: 2rem 0;
    padding-top:7rem;
    color:white;
    box-shadow: 10px 10px 54px -7px rgba(0,0,0,0.05);
}

.document-title {
    font-size: 2.5rem;
    font-weight:bold;
    margin-left:2.6rem;
    
    margin-top:4rem;
    margin-bottom:1rem;
}

.document-logo {
    max-width:100%;
    padding: 0 5rem;
}

.sidebar-nav {

}

.sidebar-nav-item {
    color:white;
    text-decoration: none;
    display:block;
    font-size:1.8rem;
    font-weight:500;
    padding: 1.6rem 2.6rem;
    background-color:#008fd1;
}

.active {
    color:#008fd1;
    background-color:white;
}

h1 {
    font-size:5rem;
}

h2 {
    font-size:3rem;
    margin-top:5rem;
    margin-bottom:2rem;
}

h3 {
    font-size:2.2rem;
    margin-bottom:1rem;
    margin-top:4rem;
}

p {
    /*font-family: 'Lora', serif;*/
    font-size:1.8rem;
    line-height:1.7;
    max-width:80rem;
}

figure {
    margin:4rem 0;
    margin-top:2rem;
    padding-top:2rem;
    text-align:center;
}

#content img {
    max-width:100%;
    max-height:60rem;
    margin-left:auto;
    margin-right:auto;
    border-radius: 1rem;
    box-shadow: 10px 10px 54px -7px rgba(0,0,0,0.2);
}

figcaption p {
    font-size:1.4rem;
    font-weight:500;
    margin-top:1rem;
    max-width:100%;
}

a {
    color:black;
}

.fig-container {

    background-color:#f0f0f0;
    margin: 3rem -5rem;
    padding: 2rem 5rem;
}

@media (min-width: 1000px) {

    .fig-container {
        padding: 2rem;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    
    .fig-container figure {
        margin:0;
        padding:0;
        margin-top:3rem;
        margin-left:2rem;
        margin-right:2rem;
    }

    #content .fig-container img {
        max-height:35rem;
    }
}
